* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  display: inline-flex;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
.page-wrapper {
  width: 80%;
  margin: 0 auto;
}

.footbal-logo {
  color: #fff;
  font-size: 2rem;
  animation: spin-animation 2s infinite;
  display: inline-block;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.mag-logo {
  color: #fff;
  font-size: 1.5rem;
}

.nav_bar ul li {
  padding: 0 10px 0 10px;
}

.nav_bar {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 72%,
    rgba(0, 212, 255, 1) 100%
  );
}

.first-text {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.first-text p {
  font-size: 0.8rem;
}

.first-text h1 {
  margin-top: 20px;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.foto-gradient h1 {
  color: #fc466b;
}

.small-articl {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
}

.last-article {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.last-article img {
  padding-top: 2rem;
  width: 100%;
}
